exports = module.exports = require("../../../node_modules/css-loader/dist/runtime/api.js")(false);
// Module
exports.push([module.id, "._3QKuV{flex-shrink:0;position:relative;height:80px;width:132px}._3QKuV img{border-radius:4px;box-shadow:rgba(0,6,36,0.25) 0px 26px 24px -16px,rgba(0,6,36,0.3) 0px 16px 24px -18px,rgba(0,6,36,0.07) 0px 0px 10px 0px}\n", ""]);

// Exports
exports.locals = {
	"container": "_3QKuV"
};