exports = module.exports = require("../../../../../node_modules/css-loader/dist/runtime/api.js")(false);
// Module
exports.push([module.id, "._3jZ7c{-st-mixin:text-medium-bold;font-size:10px !important;line-height:12px !important;letter-spacing:1px}.A01oG{position:absolute;background-color:rgba(0,6,36,0.7);width:100%;bottom:0;left:0;text-align:center;border-radius:0 0 4px 4px}\n", ""]);

// Exports
exports.locals = {
	"caption-c1": "_3jZ7c",
	"captionC1": "_3jZ7c",
	"container": "A01oG"
};